<header th:fragment="crm-header">
       <nav class="navbar navbar-expand-lg" style="background-color: #26086d;">
           <div class="container text-white">
               <a class="navbar-brand" href="/index">
                   <img src="images/logo.png" alt="iostream programming logo" width="60" />
                   <span class="h3 text-white ms-2">iostream</span>
               </a>

               <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                   data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                   aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
               </button>

               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                   <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-4">
                       <li class="nav-item">
                           <a class="nav-link active text-white" aria-current="page" href="/index">Home</a>
                       </li>
                       <li class="nav-item dropdown text-white">
                           <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                               More
                           </a>
                           <ul class="dropdown-menu">
                               <li><a class="dropdown-item">Online Details</a></li>
                               <li><hr class="dropdown-divider"></li>
                               <li><a class="dropdown-item">About Us</a></li>
                               <li><a class="dropdown-item">Contact Us</a></li>
                           </ul>
                       </li>
                   </ul>
                   <a href="/login" class="btn btn-outline-info ms-3 text-white"> Login </a>
                   <a href="/register" class="btn btn-outline-info ms-3 text-white"> Register </a>
               </div>
           </div>
       </nav>
   </header>